h1, h2, h3 {
  font-family: 'Raleway';
  margin: 30px 50px 10px 50px;
}

h4, h5 {
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 20px;
  color: #E5E5E5;
  letter-spacing: 5px;
  text-align: center;
  margin: 10px 0;
}

h5 {
  letter-spacing: 2px;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab";
  margin: 0;
}

body #squareMenu {
  position: fixed;
  top: 45%;
  right: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 250px;
  width: 50px;
  z-index: 10;
  opacity: 0.5;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

body #squareMenu .menuIcon {
  height: 50px;
  width: 50px;
  display: block;
  background-size: contain;
  opacity: 0.5;
}

body #squareMenu .menuIcon:hover {
  fill: #68462A;
  stroke: #68462A;
  opacity: 1;
}

body #squareMenu #PersonalIcon {
  background-image: url("../assets/ikony/menu/person.png");
}

body #squareMenu #EducationIcon {
  background-image: url("../assets/ikony/menu/edu.png");
}

body #squareMenu #ProfessionalIcon {
  background-image: url("../assets/ikony/menu/waliza.png");
}

body #squareMenu #SkillsIcon {
  background-image: url("../assets/ikony/menu/zebatka.png");
}

body #squareMenu #ContactIcon {
  background-image: url("../assets/ikony/menu/phone.png");
}

body #squareMenu:hover {
  opacity: 1;
}

body section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body section .sectionIcon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px auto;
}

body section h2 {
  color: rgba(104, 70, 42, 0.75);
}

body .sectionTitle {
  width: 630px;
  border-bottom: solid 1px rgba(104, 70, 42, 0.4);
  margin: 0 auto;
}

body .sectionParagraph {
  width: 800px;
  margin: 0 auto;
}

body .sectionParagraph p {
  line-height: 35px;
  font-size: 18px;
  text-align: justify;
  margin: 0;
}

body .sectionParagraph .eduAndProfParagraph {
  color: #E5E5E5;
  margin: 30px 70px 70px 70px;
}

body #heroSection {
  background-image: url("../assets/hero-bg.png");
  background-position: center bottom;
  width: 100%;
  height: 100vh;
  z-index: -1;
  color: #E5E5E5;
}

body #heroSection header {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr;
      grid-template-areas: "leftMenu logo rightMenu";
  padding-top: 10px;
}

body #heroSection header img {
  width: 220px;
  height: auto;
  display: inline-block;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
}

body #heroSection header ul {
  list-style: none;
  display: inline-block;
  margin: auto;
  padding: 0 0 20px 0;
  border-bottom: #E5E5E5 solid 1px;
  width: 80%;
  font-size: 18px;
  text-align: center;
}

body #heroSection header ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
}

body #heroSection header ul li a {
  text-decoration: none;
  display: block;
  color: #E5E5E5;
}

body #heroSection header #leftMenu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: leftMenu;
  padding-right: 10px;
  margin-right: 50px;
}

body #heroSection header #leftMenu li {
  margin-right: 50px;
}

body #heroSection header #rightMenu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: rightMenu;
  padding-left: 10px;
  margin-left: 50px;
}

body #heroSection header #rightMenu li {
  margin-left: 50px;
}

body #heroSection #Intro {
  margin-top: 250px;
  text-align: center;
  text-transform: uppercase;
}

body #heroSection h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 30px 0px;
}

body #heroSection h3 {
  font-size: 30px;
  font-weight: 300;
}

body #personalStatementSection {
  background-image: url("../assets/gaklaxyPersonalSection.svg");
  background-size: contain;
  background-position: center top;
  padding-top: 15vh;
}

body #educationSection {
  height: 120vh;
  background-image: url("../assets/forest-bg.png");
  background-size: cover;
  background-position: center bottom;
  padding-top: 8vh;
}

body #educationSection #topTriangle {
  position: relative;
  top: -8vh;
  height: 100px;
  width: 100%;
  background-image: url("../assets/gora.png");
  background-size: cover;
  background-position: top left;
}

body #educationSection h2 {
  color: #E5E5E5;
}

body #educationSection .sectionTitle {
  border-bottom: solid 1px #E5E5E5;
}

body #professionalExperienceSection {
  height: 120vh;
  background-image: url("../assets/water-bg.png");
  background-size: cover;
  background-position: center top;
  padding-top: 15vh;
  position: relative;
  top: -100px;
}

body #professionalExperienceSection #bottomTriangle {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-image: url("../assets/dol.png");
  background-size: cover;
  background-position: bottom right;
}

body #professionalExperienceSection h2 {
  color: #E5E5E5;
}

body #professionalExperienceSection .sectionTitle {
  border-bottom: solid 1px #E5E5E5;
}

body #skillsSection {
  background-image: url("../assets/galaxySkillsSection.svg");
  background-size: contain;
  background-position: center center;
  padding-top: 70px;
}

body #skillsSection #skillIcons {
  position: relative;
  margin: 50px auto 0 auto;
}

body #skillsSection #skillIcons .iconRow {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 200px 200px;
      grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 8px;
  height: 50px;
}

body #skillsSection #skillIcons .iconRow .skillIcon {
  width: 200px;
  height: 200px;
  opacity: 1;
  background-size: contain;
  background-position: center center;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

body #skillsSection #skillIcons .iconRow .skillIcon:hover {
  opacity: 0.8;
}

body #skillsSection #skillIcons .iconRow #htmlIcon {
  background-image: url("../assets/ikony/HTML kopia.svg");
}

body #skillsSection #skillIcons .iconRow #cssIcon {
  background-image: url("../assets/ikony/CSS kopia.svg");
}

body #skillsSection #skillIcons .iconRow #jsIcon {
  background-image: url("../assets/ikony/JS kopia.svg");
}

body #skillsSection #skillIcons .iconRow #sassIcon {
  background-image: url("../assets/ikony/SASS kopia.svg");
}

body #skillsSection #skillIcons .iconRow #gitIcon {
  background-image: url("../assets/ikony/Git kopia.svg");
}

body #skillsSection #skillIcons .iconRow #reactIcon {
  background-image: url("../assets/ikony/React kopia.svg");
}

body #skillsSection #skillIcons .iconRow #reduxIcon {
  background-image: url("../assets/ikony/Redux kopia.svg");
}

body #skillsSection #skillIcons .iconRow #dockerIcon {
  background-image: url("../assets/ikony/Docker kopia.svg");
}

body #skillsSection #skillIcons .iconRow #bootstrapIcon {
  background-image: url("../assets/ikony/Bootstrap kopia.svg");
}

body #skillsSection #skillIcons .iconRow #aiIcon {
  background-image: url("../assets/ikony/AI kopia.svg");
}

body #skillsSection #skillIcons .iconRow #psIcon {
  background-image: url("../assets/ikony/PS  kopia.svg");
}

body #skillsSection #skillIcons .iconRow #pythonIcon {
  background-image: url("../assets/ikony/Python kopia.svg");
}

body #skillsSection #skillIcons .iconRow #mysqlIcon {
  background-image: url("../assets/ikony/MYSQL kopia.svg");
}

body #skillsSection #skillIcons #firstRow {
  top: 0;
  z-index: 3;
}

body #skillsSection #skillIcons #secondRow {
  -ms-grid-columns: 200px 200px 200px 200px 200px;
      grid-template-columns: 200px 200px 200px 200px 200px;
  top: 104px;
  z-index: 2;
}

body #skillsSection #skillIcons #thirdRow {
  top: 208px;
  z-index: 1;
}

body #footerSection {
  background-image: url("../assets//footer-bg.png");
  padding-top: 200px;
  position: relative;
}

body #footerSection h2 {
  color: #E5E5E5;
}

body #footerSection .sectionTitle {
  border-bottom: solid 1px #E5E5E5;
}

body #footerSection #buttonContainer {
  margin: 60px auto;
  text-align: center;
}

body #footerSection button {
  width: 250px;
  height: 55px;
  border: 1px solid #e5e5e5;
  background-color: rgba(229, 229, 229, 0.1);
  color: #E5E5E5;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  font-size: 14px;
  margin: 0 50px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

body #footerSection button:hover {
  background-color: rgba(229, 229, 229, 0.2);
}

body #footerSection #footer {
  border-top: #E5E5E5 solid 1px;
  width: 80%;
  margin-top: 50px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

body #footerSection #footer img {
  width: 150px;
  height: auto;
  margin: 20px auto;
  display: block;
}
/*# sourceMappingURL=main.css.map */