$colors: (
  main: #e5e5e5,
  myGold: #68462a,
  myGold-80: rgba(104, 70, 42, 0.75),
  myGold-light: rgba(104, 70, 42, 0.4),
  primary-dark: darken(#005dff, 40%)
);

$breakpoint--tiny: 360px;
$breakpoint--very-small: 480px;
$breakpoint--small: 600px;
$breakpoint--medium: 768px;
$breakpoint--large: 1024px;
$breakpoint--very-large: 1280px;
$breakpoint--turbo-large: 1700px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin tiny {
  @media (min-width: #{$breakpoint--tiny}) {
    @content;
  }
}
@mixin very-small {
  @media (min-width: #{$breakpoint--very-small}) {
    @content;
  }
}
@mixin small {
  @media (min-width: #{$breakpoint--small}) {
    @content;
  }
}
@mixin medium {
  @media (min-width: #{$breakpoint--medium}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$breakpoint--large}) {
    @content;
  }
}
@mixin very-large {
  @media (min-width: #{$breakpoint--very-large}) {
    @content;
  }
}
@mixin turbo-large {
  @media (min-width: #{$breakpoint--turbo-large}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab';
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Raleway';

  @include small {
    margin: 10px 50px;
  }
}

h4,
h5 {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 16px;
  color: color(main);
  letter-spacing: 5px;
  text-align: center;
  margin: 10px 0;

  @include small {
    font-size: 20px;
  }
}

h5 {
  letter-spacing: 2px;
}

h2 {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;

  @include small {
    font-size: 36px;
  }
}

.section {
  position: relative;
}

.square-menu {
  position: fixed;
  top: 45%;
  right: 5%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  height: 250px;
  width: 50px;
  z-index: 10;
  opacity: 0.5;
  transition-duration: 300ms;
  display: none;

  @include large {
    display: block;
  }

  &:hover {
    opacity: 1;
  }
}

.square-menu__icon {
  height: 50px;
  width: 50px;
  display: block;
  background-size: contain;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

section {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  @include small {
    padding: 50px 0;
  }

  @include large {
    padding: 100px 0;
  }
}

.container {
  width: 100%;
  padding: 0 15px;

  @include turbo-large {
    width: 100%;
    max-width: 1700px;
    margin: auto;
  }
}

.section__title {
  color: color(myGold-80);
}

.section__title__white {
  color: color(main);
}

.section__title-container {
  width: 100%;
  max-width: 630px;
  border-bottom: solid 1px color(myGold-light);
  margin: 0 auto;
}

.section__title-container__white {
  width: 100%;
  max-width: 630px;
  border-bottom: solid 1px color(main);
  margin: 0 auto;
}

.section__icon {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;

  @include small {
    width: 100px;
    height: 100px;
    margin: 10px auto;
  }
}

.section__paragraph-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text__paragraph {
  line-height: 25px;
  font-size: 14px;
  text-align: justify;

  @include very-small {
    line-height: 30px;
    font-size: 16px;
  }

  @include small {
    line-height: 35px;
    font-size: 18px;
  }

  @include medium {
    margin: 30px 70px 70px 70px;
  }
}

.text__white {
  color: #e5e5e5;
}

header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header__line {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 1px;
  width: calc(50% - 110px);
  margin: 0 90px;
  display: none;

  @include large {
    display: block;
  }
}

.header__logo {
  width: 133px;
  height: auto;
  margin: 0;

  @include very-small {
    width: 150px;
  }

  @include small {
    width: 170px;
  }

  @include medium {
    width: 200px;
  }
}

.section__hero {
  background-image: url('../assets/hero-bg.jpg');
  background-position: center bottom;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  color: color(main);
}

.intro {
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 26px;
  font-weight: 300;
  margin: 5px 0px;

  @include small {
    font-size: 35px;
    margin: 10px 0px;
  }

  @include large {
    font-size: 48px;
    margin: 30px 0px;
  }
}
h3 {
  font-size: 16px;
  font-weight: 300;

  @include small {
    font-size: 21px;
  }

  @include large {
    font-size: 30px;
  }
}

.section__personal-statement {
  background-image: url('../assets/gaklaxyPersonalSection.svg');
  background-size: contain;
  background-position: center top;
}

.section__education {
  min-height: 120vh;
  position: relative;
  top: 50px;
  padding: 80px 0 130px 0;

  @include large {
    padding: 150px 0 100px 0;
  }
}

.education__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/forest-background.jpg');
  background-size: cover;
  background-position: center bottom;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  z-index: -1;
}

.section__professional-experience {
  min-height: 120vh;
  position: relative;
  top: -50px;
  padding: 80px 0 100px 0;

  @include large {
    padding: 150px 0 100px 0;
  }
}

.professional-experience__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/ocean-background.jpg');
  background-size: cover;
  background-position: center bottom;
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
  z-index: -1;
}

.section__skills {
  background-image: url('../assets/galaxySkillsSection.svg');
  background-size: contain;
  background-position: center center;

  @include small {
    padding-bottom: 100px;
  }
}

.skill-icon {
  width: 70px;
  height: 70px;
  background: #ccc;
  margin: 15px;
  transform: rotate(45deg);
  transition-duration: 100ms;

  @include small {
    margin: 16px;
  }

  @include medium {
    width: 100px;
    height: 100px;
    margin: 22px;
  }

  @include very-large {
    width: 120px;
    height: 120px;
    margin: 27px;
  }

  &:hover {
    transform: rotate(45deg) scale(0.95);
  }
}

.skill-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-even__row {
  width: 210px;
  margin: auto;
  height: 0;

  @include small {
    width: 420px;
  }

  @include medium {
    width: 600px;
  }

  @include very-large {
    width: 705px;
  }
}

.skill-odd__row {
  width: 100px;
  margin: auto;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 0;

  @include small {
    width: 520px;
    top: 51px;
  }

  @include medium {
    width: 750px;
    top: 72px;
  }

  @include very-large {
    width: 880px;
    top: 87px;
  }
}

.skill-icons__container {
  height: 500px;
  margin-top: 50px;
  position: relative;

  @include small {
    height: 300px;
    margin-top: 0;
  }

  @include large {
    height: 400px;
  }
}

.scroll__anchor {
  position: absolute;
  top: 70px;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.section__contact {
  background-image: url('../assets/footer-bg.jpg');
  position: relative;
  background-position: center top;
  padding-top: 200px;
}

.contact_form__container {
  margin: 60px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 470px;
}

.contact_form {
  width: 100%;
}

.contact_form__input,
.contact_form__textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(229, 229, 229, 0.8);
  background: none;
  color: #e5e5e5;
  line-height: 35px;
  font-size: 14px;
  font-family: 'Roboto Slab';
  opacity: 0.9;
  outline: none;
  margin-bottom: 50px;
  transition: opacity 0.4s;
  padding-bottom: 5px;

  @include large {
    font-size: 18px;
  }

  &:focus {
    opacity: 1;
  }
}

.contact_form__textarea {
  resize: none;
  height: 120px;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 rgba(229, 229, 229, 0.1);

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(229, 229, 229, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e5e5e5;
    cursor: pointer;
  }
}

.contact_form__button {
  width: 100%;
  max-width: 250px;
  height: 55px;
  border: 1px solid #e5e5e5;
  background-color: rgba(229, 229, 229, 0.1);
  color: color(main);
  text-transform: uppercase;
  font-family: 'Roboto Slab';
  font-size: 14px;
  margin: 10px auto;
  transition-duration: 300ms;
  cursor: pointer;

  &:hover {
    background-color: rgba(229, 229, 229, 0.2);
  }
}

.contact_form__label {
  font-family: 'Roboto Slab';
  font-size: 12px;
  color: #e5e5e5;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

.footer {
  margin-top: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__container {
  border-top: color(main) solid 1px;
  width: calc(100% - 30px);
  margin: auto;

  @include small {
    width: calc(100% - 180px);
  }
}

.footer__logo {
  width: 100px;
  height: auto;
  margin: 10px auto;
  display: block;

  @include small {
    width: 150px;
    margin: 20px auto;
  }
}

.section__connector {
  height: 200px;
  width: 0;
  position: absolute;
  bottom: -100px;
  left: 50%;
  border-right: 1px dashed #d9d1d1;
  z-index: 2;
  display: none;

  &:before,
  &:after {
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #d9d1d1;
    position: absolute;
  }

  &:before {
    top: 0;
    left: -3px;
  }

  &:after {
    bottom: 0;
    left: -3px;
  }
}

.personal-statement__connector {
  bottom: -177px;
}

.education__connector {
  bottom: -25px;
}

.experience__connector {
  bottom: -80px;
}

.skills__connector {
  bottom: -177px;
}
