$colors: (
  main: #e5e5e5,
  myGold: #68462a,
  myGold-80: rgba(104, 70, 42, 0.75),
  myGold-light: rgba(104, 70, 42, 0.4),
  primary-dark: darken(#005dff, 40%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab';
  margin: 0;
  position: relative;
}

h1,
h2,
h3 {
  font-family: 'Raleway';
  margin: 10px 50px;
}

h4,
h5 {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 20px;
  color: color(main);
  letter-spacing: 5px;
  text-align: center;
  margin: 10px 0;
}

h5 {
  letter-spacing: 2px;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.square-menu {
  position: fixed;
  top: 45%;
  right: 5%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  height: 250px;
  width: 50px;
  z-index: 10;
  opacity: 0.5;
  transition-duration: 300ms;

  &:hover {
    opacity: 1;
  }
}

.square-menu__icon {
  height: 50px;
  width: 50px;
  display: block;
  background-size: contain;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

section {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.section__title {
  color: color(myGold-80);
}

.section__title__white {
  color: color(main);
}

.section__title-container {
  width: 630px;
  border-bottom: solid 1px color(myGold-light);
  margin: 0 auto;
}

.section__title-container__white {
  width: 630px;
  border-bottom: solid 1px color(main);
  margin: 0 auto;
}

.section__icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px auto;
}

.section__paragraph-container {
  width: 800px;
  margin: 0 auto;
}

.text__paragraph {
  margin: 30px 70px 70px 70px;
  line-height: 35px;
  font-size: 18px;
  text-align: justify;
}

.text__white {
  color: #e5e5e5;
}

header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.main-menu__list {
  list-style: none;
  padding: 0 0 20px 0;
  border-bottom: #e5e5e5 solid 1px;
  font-size: 18px;
  text-align: center;
  min-width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-menu__item {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 30px;

  a {
    text-decoration: none;
    display: block;
    color: color(main);
  }
}

.main-menu__left {
  padding-right: 10px;
  margin-right: 50px;
}

.main-menu__right {
  padding-left: 10px;
  margin-left: 50px;
}

.header__logo {
  width: 220px;
  height: auto;
  margin: 0 20px;
}

.section__hero {
  background-image: url('../assets/hero-bg.png');
  background-position: center bottom;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  color: color(main);
}

.intro {
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 30px 0px;
}
h3 {
  font-size: 30px;
  font-weight: 300;
}

.section__personal-statement {
  background-image: url('../assets/gaklaxyPersonalSection.svg');
  background-size: contain;
  background-position: center top;
}

.section__education {
  min-height: 120vh;
  background-image: url('../assets/forest-bg.png');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  top: 50px;
  padding: 150px 0 100px 0;
}

.triangle__top {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background-image: url('../assets/gora.png');
  background-size: cover;
  background-position: top left;
}

.section__professional-experience {
  min-height: 120vh;
  background-image: url('../assets/water-bg.png');
  background-size: cover;
  background-position: center top;
  position: relative;
  top: -50px;
  padding: 150px 0 100px 0;
}

.triangle__bottom {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-image: url('../assets/dol.png');
  background-size: cover;
  background-position: bottom right;
}

.section__skills {
  background-image: url('../assets/galaxySkillsSection.svg');
  background-size: contain;
  background-position: center center;
  padding-bottom: 100px;
}

.skill-icons__container {
  position: relative;
  margin: 50px auto 0 auto;
  height: 400px;
}

.skill-icon {
  width: 200px;
  height: 200px;
  opacity: 1;
  background-size: contain;
  background-position: center center;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transition-duration: 100ms;
}

.skill-icon:hover {
  transform: scale(0.95);
}

.html-icon {
  background-image: url('../assets/ikony/HTML\ kopia.svg');
}
.css-icon {
  background-image: url('../assets/ikony/CSS\ kopia.svg');
}
.js-icon {
  background-image: url('../assets/ikony/JS\ kopia.svg');
}
.sass-icon {
  background-image: url('../assets/ikony/SASS\ kopia.svg');
}
.git-icon {
  background-image: url('../assets/ikony/Git\ kopia.svg');
}
.react-icon {
  background-image: url('../assets/ikony/React\ kopia.svg');
}
.redux-icon {
  background-image: url('../assets/ikony/Redux\ kopia.svg');
}
.docker-icon {
  background-image: url('../assets/ikony/Docker\ kopia.svg');
}
.bootstrap-icon {
  background-image: url('../assets/ikony/Bootstrap\ kopia.svg');
}
.ai-icon {
  background-image: url('../assets/ikony/AI\ kopia.svg');
}
.ps-icon {
  background-image: url('../assets/ikony/PS\ \ kopia.svg');
}
.python-icon {
  background-image: url('../assets/ikony/Python\ kopia.svg');
}
.mysql-icon {
  background-image: url('../assets/ikony/MYSQL\ kopia.svg');
}

.skill-icons__row {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 8px;
  height: 50px;
}

.skill-icons__row__first {
  top: 0;
  z-index: 3;
}

.skill-icons__row__second {
  grid-template-columns: 200px 200px 200px 200px 200px;
  top: 104px;
  z-index: 2;
}

.skill-icons__row__third {
  top: 208px;
  z-index: 1;
}

.section__contact {
  background-image: url('../assets/footer-bg.png');
  position: relative;
  background-position: center top;

  .contact__button-container {
    margin: 60px auto;
    text-align: center;
  }

  button {
    width: 250px;
    height: 55px;
    border: 1px solid #e5e5e5;
    background-color: rgba(229, 229, 229, 0.1);
    color: color(main);
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    font-size: 14px;
    margin: 0 50px;
    transition-duration: 300ms;
  }

  button:hover {
    background-color: rgba(229, 229, 229, 0.2);
  }
}

.footer {
  border-top: color(main) solid 1px;
  width: 80%;
  margin-top: 50px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

.footer__logo {
  width: 150px;
  height: auto;
  margin: 20px auto;
  display: block;
}
